<div class="financing-section wf-section hide" id="modal-1">
      <div class="modal-container financing landing">
        <div class="modal-exit-button financing landing w-embed">
          <a
            href="#"
            class="modal-exit-button financing landing"
            >X</a
          >
        </div>
        <div class="modal-content">
          <div class="financing-content">
            <h3 class="modal-heading financing">TOOL FINANCING</h3>
            <div class="modal-scroll-box financing _2">
              <div class="text-block-96">Two options available:</div>
              <div
                data-current="Tab 2"
                data-easing="ease"
                data-duration-in="300"
                data-duration-out="100"
                class="tabs w-tabs"
              >
                <div class="tabs-menu-4 w-tab-menu" role="tablist">
                  <a
                    data-w-tab="Tab 2"
                    class="tab-link-tab-1 w-inline-block w-tab-link w--current"
                    id="tab-credit"
                    href="#w-tabs-0-data-w-pane-0"
                    role="tab"
                    aria-controls="w-tabs-0-data-w-pane-0"
                    aria-selected="true"
                  >
                    <div class="down-div">
                      <div class="div-block-195"></div>
                    </div>
                    <div class="text-block-94">CREDIT KEY</div> </a
                  ><a
                    data-w-tab="Tab 1"
                    class="tab-link-tab-1 w-inline-block w-tab-link"
                    tabindex="-1"
                    id="tab-click"
                    href="#w-tabs-0-data-w-pane-1"
                    role="tab"
                    aria-controls="w-tabs-0-data-w-pane-1"
                    aria-selected="false"
                  >
                    <div class="down-div">
                      <div class="div-block-195"></div>
                    </div>
                    <div class="text-block-94">CLICKLEASE</div>
                  </a>
                </div>
                <div class="w-tab-content">
                  <div
                    data-w-tab="Tab 2"
                    class="w-tab-pane w--tab-active"
                    id="w-tabs-0-data-w-pane-0"
                    role="tabpanel"
                    aria-labelledby="w-tabs-0-data-w-tab-0"
                  >
                    <div class="div-block-196">
                      <img
                        loading="lazy"
                        src="https://assets.website-files.com/6344c902b7919da443294b29/6344c902b7919d54db294cce_Credit_Key_Logo.jpg"
                        alt=""
                        class="image-74"
                      />
                    </div>
                    <div class="intro-text---financing w-richtext">
                      <blockquote>Business Line Credit</blockquote>
                      <p>
                        <strong
                          ><em
                            >Do you have an annual revenue of $40K+ and business
                            credit score above 600?</em
                          ></strong
                        >
                      </p>
                    </div>
                    <div class="intro-text---financing _2 w-richtext">
                      <p>
                        Apply for a Credit Key business loan. &nbsp;You can
                        create a payment plan that works best for you and you
                        have up to one year to pay off your business loan.​
                      </p>
                    </div>
                    <div class="w-layout-grid grid-26">
                      <div
                        id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd1fa-69294d01"
                        class="fontawesome"
                      >
                        
                      </div>
                      <div
                        id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd1fc-69294d01"
                        class="text-block-95"
                      >
                        Instant credit decision.
                      </div>
                      <div
                        id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd1fe-69294d01"
                        class="fontawesome"
                      >
                        
                      </div>
                      <div
                        id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd200-69294d01"
                        class="text-block-95"
                      >
                        0% interest for 30 days​. Afterwards, rates as low as
                        2%.
                      </div>
                      <div
                        id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd202-69294d01"
                        class="fontawesome"
                      >
                        
                      </div>
                      <div
                        id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd204-69294d01"
                        class="text-block-95"
                      >
                        Once approved, takes only 2-3 days to finalize your
                        loan.
                      </div>
                      <div
                        id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd206-69294d01"
                        class="fontawesome"
                      >
                        
                      </div>
                      <div
                        id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd208-69294d01"
                        class="text-block-95"
                      >
                        We ship your tools for FREE!
                      </div>
                    </div>
                    <div class="intro-text---financing _2 _1 w-richtext">
                      <p>
                        <strong
                          >Applying does not affect personal credit! </strong
                        ><strong
                          ><em
                            >PLEASE&nbsp;NOTE: If you do not have an EIN number,
                            enter your SSN in the EIN field.</em
                          ></strong
                        ><strong> Click below to get started:</strong>
                      </p>
                    </div>
                    <a
                      id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd20e-69294d01"
                      href="https://www.creditkey.com/app/apply/level5"
                      class="button-primary forms financing w-button"
                      >gET STARTED</a
                    >
                  </div>
                  <div
                    data-w-tab="Tab 1"
                    class="w-tab-pane"
                    id="w-tabs-0-data-w-pane-1"
                    role="tabpanel"
                    aria-labelledby="w-tabs-0-data-w-tab-1"
                  >
                    <div class="div-block-196">
                      <img
                        sizes="(max-width: 479px) 77vw, 332.3055725097656px"
                        srcset="
                          https://assets.website-files.com/6344c902b7919da443294b29/6344c902b7919d6412294cda_clicklease-p-500.png   500w,
                          https://assets.website-files.com/6344c902b7919da443294b29/6344c902b7919d6412294cda_clicklease-p-800.png   800w,
                          https://assets.website-files.com/6344c902b7919da443294b29/6344c902b7919d6412294cda_clicklease-p-1080.png 1080w,
                          https://assets.website-files.com/6344c902b7919da443294b29/6344c902b7919d6412294cda_clicklease-p-1600.png 1600w,
                          https://assets.website-files.com/6344c902b7919da443294b29/6344c902b7919d6412294cda_clicklease-p-2000.png 2000w,
                          https://assets.website-files.com/6344c902b7919da443294b29/6344c902b7919d6412294cda_clicklease.png        2500w
                        "
                        src="https://assets.website-files.com/6344c902b7919da443294b29/6344c902b7919d6412294cda_clicklease.png"
                        loading="lazy"
                        alt=""
                        class="image-74"
                      />
                    </div>
                    <div class="intro-text---financing w-richtext">
                      <blockquote>
                        Sole Proprietors &amp; Businesses (including Startups)
                      </blockquote>
                      <p>
                        <strong
                          ><em
                            >The fastest way to get the tools that you need.
                            Financing decision in minutes!</em
                          ></strong
                        >
                      </p>
                    </div>
                    <div class="w-layout-grid grid-26">
                      <div
                        id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd1c9-69294d01"
                        class="fontawesome"
                      >
                        
                      </div>
                      <div
                        id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd1cb-69294d01"
                        class="text-block-95"
                      >
                        Low monthly payments– Terms between 2-5 years
                      </div>
                      <div
                        id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd1d1-69294d01"
                        class="fontawesome"
                      >
                        
                      </div>
                      <div
                        id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd1d3-69294d01"
                        class="text-block-95"
                      >
                        Early Purchase Option available within first 5 months
                      </div>
                      <div
                        id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd1d5-69294d01"
                        class="fontawesome"
                      >
                        
                      </div>
                      <div
                        id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd1d7-69294d01"
                        class="text-block-95"
                      >
                        Instant decisioning – No documents required
                      </div>
                      <div
                        id="w-node-_93c5abae-dca8-7bb5-c5c5-7a57e673c58a-69294d01"
                        class="fontawesome"
                      >
                        
                      </div>
                      <div
                        id="w-node-_9e77a1df-66e2-4674-5e67-678f8d5d9824-69294d01"
                        class="text-block-95"
                      >
                        No-time-in business requirements
                      </div>
                      <div
                        id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd1d9-69294d01"
                        class="fontawesome"
                      >
                        
                      </div>
                      <div
                        id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd1db-69294d01"
                        class="text-block-95"
                      >
                        Cheaper option than renting
                      </div>
                      <div
                        id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd1dd-69294d01"
                        class="fontawesome"
                      >
                        
                      </div>
                      <div
                        id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd1df-69294d01"
                        class="text-block-95"
                      >
                        We ship your tools for FREE!
                      </div>
                    </div>
                    <div
                      id="w-node-a02dba77-2817-f3e4-94cd-e65bfe5bd1e1-69294d01"
                      class="intro-text---financing _2 w-richtext"
                    >
                      <p>
                        <strong
                          >Applying does not affect personal credit!</strong
                        >
                      </p>
                    </div>
                    <a
                      href="https://app.clicklease.com/inlineapp?token=c89f9211-c8af-4e9c-ba76-728f0c3aa070"
                      class="button-primary forms financing w-button"
                      >LET'S GET STARTED</a
                    >
                    <div class="fin-form-bottom">
                      Want more information? &nbsp;Call us at
                      <a href="tel:18002277713" class="bold">800.227.7713</a>.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  

</div>
