.schematic-block {
  margin-bottom: 60px;
}
.div-block-201 {
  align-items: flex-start;
  margin-bottom: 20px;
  display: flex;
}

.div-block-201 h3 {
  margin-bottom: 5px;
}

.image-78 {
  height: 200px;
}
.adc-btn-mob {
  background-color: #b8000d;
  height: inherit;
}
.adc-btn {
  margin: 0;
  height: 2.75rem;
}
.adc-col {
  height: 2.75rem;
}
@media screen and (max-width: 767px) {
  .div-block-201 {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
}
.sch-btn-disabled-mob {
  height: 2.75rem;
  display: none;
}
@media screen and (min-width: 640px) {
  .adc-btn-mob {
    display: none;
  }
  .schematic-block .a--link-mob {
    display: none;
  }
  .form-increment.incr-mob {
    display: flex;
  }
  .sch-btn-disabled-mob {
    display: none;
  }
}
@media screen and (max-width: 639px) {
  .adc-btn {
    display: none;
  }
  .a--link {
    display: none;
  }
  .incr-mob {
    display: none;
  }
  #schematic-prod-description .grid-item.js-card-atc {
    justify-content: center;
  }
  .sch-btn-disabled {
    display: none;
  }
}
.adc.parts.sm {
  height: 38px;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 1rem;
  line-height: 38px;
}
.a--link {
  color: #b8000d;
  font-size: 14px;
}
.a--link:hover {
  color: #dc0000;
}
.a--link-mob {
  display: flex;
  height: 38px;
  align-items: center;
  justify-content: center;
}
.grid-item.heading {
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 10px;
}
.grid-item {
  height: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  display: flex;
  @media (max-width: 467px) {
    padding: 3px;
  }
}

/*TEMP*/
/*
.grid-row .grid-item:nth-child(5n + 7),
.grid-row .grid-item:first-child,
,
.grid-row .grid-item:nth-child(2) {
  display: none;
}
*/
/*END TEMP*/

.schematic-block .grid-row {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  /*Temporarily disabled the Schematic # column while fixing schematic issues*/
  grid-template-columns: auto auto 1fr auto auto;
  /* grid-template-columns: auto 1fr auto auto;*/
  /*Swap commented and uncommented lines when ready*/
  align-items: center;
}
.sch--cont .grid-item {
  @media (max-width: 1024px) {
    font-size: 0.9rem;
  }
}

.sch--col-mob {
  @media (max-width: 1024px) {
    display: none;
  }
}

.sch--col-mobile {
  @media (min-width: 1024px) {
    display: none;
  }
}

.schematic-block .layout-grid {
  grid-auto-columns: 1fr;
  display: grid;
}
.schematic-block a.card-atc__button.button.button--primary.js-card-atc__button {
  margin: 0;
}
.button-primary.parts.s2.w-button {
  color: white;
}

.button.sch-btn-disabled {
  padding-left: 10px;
  padding-right: 10px;
  width: 150px;
  max-height: 2.75rem;
  color: white;
  background-color: #666666;
  border-color: #666666;
  margin-bottom: 0px;
}

//schematic styling on product details///
#schematic-prod-description .container {
  padding: 0px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#schematic-prod-description .schematic-block {
  margin-bottom: 10px;
}
li.tab.tab--schematic {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 3;
  order: 3;
}

.dropdown-toggle.w-dropdown-toggle.schematic-accordion {
  border-bottom: lightgrey solid 1px;
}
////
#schematic-sec-3 .no--bottom {
  padding-bottom: 10px;
}

[schematic-sec] a.dropdown-toggle.w-dropdown-toggle[data-accordion-sch] {
  padding: 15px 0 15px 0;
}

.sch--cont {
  margin-left: 10px;
  margin-right: 10px;
}