<div class="standard-section wf-section">
	<div class="container---1200px">
		<div class="div-block-73">
			<img
				src="https://assets.website-files.com/6344c902b7919da443294b29/6344c902b7919d9649294c41_robot-thank-you.png"
				alt=""
				class="image-40 thank-you-page"
			/>
			<div class="div-block-72">
				<h2 class="section-heading notification-box-heading">
					Thank you for your Recent Purchase
				</h2>
				<p class="notification-box-body">
					Your warranty registration was successfully received at our
					office. If there are any issues with your registration, we
					will reach out to you.<br /><br />Any questions or concerns?
					Feel free to reach out to us at
					<a href="tel:18002277713">800.227.7713</a> or by email at
					<a href="mailto:info@level5tools.com"
						>info@level5tools.com</a
					>.<br />
				</p>
			</div>
		</div>
	</div>
</div>

{{> components/custom/warranty-page/warranty-confirmation-css}}
