<section class="sch--cont" schematic-sec>
    <a class="dropdown-toggle w-dropdown-toggle" data-accordion-sch >
        <h3 style="margin-bottom:0px">{{lang (lang 'custom.page.4-769-Hinged-Mega-box-Final.title')}}</h3>
        <i class="fas fa-sharp fa-chevron-down" style="color: #000000;" accordion-ddown-sch></i>
    </a>
    <div class="schematic-block tab-content-sch" style="margin-bottom:0px;">
        <div class="div-block-201">
            <div style="display: grid;">
                <p>Compatible with SKU(s): {{lang (lang 'custom.page.4-769-Hinged-Mega-box-Final.subtitle')}}</p>
                <a href="{{lang (lang 'custom.page.4-769-Hinged-Mega-box-Final.pdf_link')}}" download target="_blank">
                    <img src="{{lang (lang 'custom.page.4-769-Hinged-Mega-box-Final.image')}}" loading="lazy" sizes="(max-width: 479px) 90vw, 300px" alt="" class="image-78"></a>
                <a style="margin-top: 10px;" href="{{lang (lang 'custom.page.4-769-Hinged-Mega-box-Final.pdf_link')}}" download target="_blank" class="a--link">Download schematic PDF</a>
                <a style="margin-top: 20px;" href="{{lang (lang 'custom.page.4-769-Hinged-Mega-box-Final.pdf_link')}}" download target="_blank" class="button--primary a--link-mob">Download schematic PDF</a>
            </div>
        </div>
        <div class="layout-grid grid-row">
            <div class="grid-item heading sch--col-mob">SCHEMATIC #</div>
            <div class="grid-item heading sch--col-mobile">#</div>
            <div class="grid-item heading">PART <span class="sch--col-mob"> #</span></div>
            <div class="grid-item heading">DESCRIPTION</div>
            <div class="grid-item heading">PRICE</div>
            <div class="grid-item heading"></div>
            {{#for 1 (lang 'custom.page.4-769-Hinged-Mega-box-Final.item_num')}}
                {{> components/custom/schematic/schematic-item-list 
                    index = $index
                    id = (lang (concat (concat 'custom.page.4-769-Hinged-Mega-box-Final.item_' $index) '.id'))
                    sku =(lang (concat (concat 'custom.page.4-769-Hinged-Mega-box-Final.item_' $index) '.sku'))
                    name = (lang (concat (concat 'custom.page.4-769-Hinged-Mega-box-Final.item_' $index) '.name'))
                    price = (lang (concat (concat 'custom.page.4-769-Hinged-Mega-box-Final.item_' $index) '.price'))
                }}
            {{/for}}
        </div>
        <div style="margin-bottom:20px;"></div>
    </div>
</section>
