
{{#if list '==' 'auto-taper'}}
    {{> components/custom/schematic/2-5-inch-Corner-Finisher-4-732 }}
    {{> components/custom/schematic/3-inch-Corner-Finisher-4-733 }}
{{else if list '==' 'minishot'}}
    {{> components/custom/schematic/2-5-inch-Corner-Finisher-4-732 }}
    {{> components/custom/schematic/3-inch-Corner-Finisher-4-733 }}
    {{> components/custom/schematic/4-734-3-5-Corner-Finisher }}
{{else if list '==' 'tools'}}
    {{> components/custom/schematic/2-inch-Nail-Spotter-4-754-old-style }} 
{{else if list '==' 'boxes'}}
    {{> components/custom/schematic/2-inch-Nail-Spotter-4-754-old-style }} 
{{else if list '==' 'pump'}}
    {{> components/custom/schematic/2-inch-Nail-Spotter-4-754-old-style }} 
{{else if list '==' 'corner-finisher'}}
    {{> components/custom/schematic/2-inch-Nail-Spotter-4-754-old-style }} 
{{else if list '==' 'corner-applicator'}}
    {{> components/custom/schematic/2-inch-Nail-Spotter-4-754-old-style }} 
{{else if list '==' 'roller'}}
    {{> components/custom/schematic/2-inch-Nail-Spotter-4-754-old-style }} 
{{else if list '==' 'spotter'}}
    {{> components/custom/schematic/2-inch-Nail-Spotter-4-754-old-style }} 
{{else if list '==' 'kits'}}
    {{> components/custom/schematic/2-inch-Nail-Spotter-4-754-old-style }} 
{{/if}}